.section1 {
  font-family: "Poppins", sans-serif;
  background: #010718;
}

.carousel {
  margin: 0;
  padding: 0;
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.6s ease-out;
  width: 100%;
  height: 500px; /* Set the height you want for the images */
}

.carousel-item.active {
  position: static;
  opacity: 100;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  height: 45px;
  line-height: 18px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-bullet {
  color: #fff;
  font-size: 1.6rem;
}

.carousel-bullet.active,
.carousel-bullet:hover {
  color: #428bca;
}

@media (max-width: 768px) {
  .carousel-control {
    font-size: 30px;
    height: 30px;
    width: 30px;
    line-height: 25px;
  }

  .carousel-bullet {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .carousel-control {
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 15px;
  }

  .carousel-bullet {
    font-size: 20px;
  }
}

/* section 2 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
.section2 {
  font-family: "Poppins", sans-serif;
  background: #010718;
  text-align: center;
  padding-top: 4%;
  padding: 10%;
}
.sec2-text {
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 5rem;
}
.container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #010718;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
}
.container .text {
  position: relative;
  color: #4070f4;
  font-size: 1.5rem;
  font-weight: 600;
}

.container .text.first-text {
  color: #fff;
}
.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #010718;
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}
.yellow {
  color: #ff9900;
}
.blue {
  color: #4070f4;
}

@media (max-width: 700px) {
  .section2 {
    width: 100%;
    text-align: end;
  }
  .sec-text {
    width: 100%;
    text-align: right;
  }
  .text2 {
    text-align: left;
  }
}
